@(mensagem: String, lista: List[controllers.EnderecoController.EnderecoView])

@main("Listagem de Enderecos") {

    <h2>Enderecos Cadastrados</h2>

    <h4>@mensagem</h4>

    @if(!lista.isEmpty) {
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>DESCRICAO</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for(endereco <- lista) {
                <tr>
                    <td>@endereco.id</td>
                    <td>@endereco.descricao</td>
                    <td><a href="/editarEndereco/@endereco.id" class="btn btn-xs btn-link">Editar</a>
                    <a href="/deletarEndereco/@endereco.id" class="btn btn-xs btn-link">Deletar</a></td>
                </tr>
            }
            </tbody>
        </table>
    } else {
        <h4>Não há registros cadastrados.</h4>
    }
    <a href="/criarEndereco" class="btn btn-xs btn-link">Cadastrar Novo Endereco</a>
    <a href="/" class="btn btn-xs btn-link">Ir para Clientes</a>
}